{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle -f -v --file=/dev/stdin <<EOF
{{ range .packages.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ range .packages.mas -}}
mas {{ .name | quote }}, id: {{ .id }}
{{ end -}}
EOF
{{ end -}}
