#!/usr/bin/env bash

###############################################################################
# Install Homebrew Cask Packages                                              #
###############################################################################

{{ $cask_packages := list
  "google-chrome"
  "slack"
  "alfred"
  "rectangle"
  "bartender"
  "franz"
  "intellij-idea"
  "pycharm"
  "datagrip"
  "hyper"
  "mongodb-compass"
  "visual-studio-code"
  "duet"
  "cheatsheet"
  "docker"
  "numi"
  "notion"
  "insomnia"
  "lunar"
  "discord"
  "tableplus"
  "postman"
  "font-awesome-terminal-fonts"
  "font-hack"
  "font-fira-code-nerd-font"
}}

source ~/.local/share/chezmoi/helpers/echos.sh
source ~/.local/share/chezmoi/helpers/requirers.sh 

running "installing brew cask packages"

{{ range $cask_packages }}
require_cask "{{ . }}"
{{ end }}
